body {
    height: 100vh;
    background-color: #39A2F3;
    font-family: 'Roboto';
    color: white;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
}

h1 {
  font-size: 3rem;
}

h2, p {
  margin: 0;
}

.left-part {
    font-weight: 800;
    width: 50%;
    margin: auto 0;
}

input {
    font-weight: 300;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    border-color: white;
    color: white;
    padding-bottom: 5px
}

input::placeholder {
  color: white;
} 

button {
    border: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    color: white;
}

span:not(.counter, .order) {
    color: transparent;
    -webkit-text-stroke: 1px white;
}


.ranking {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto 0;
}

.ranking p {
  font-size: 3rem;
  font-weight: 800;
}

.ranking h2 {
  font-size: 1.3rem;
}

.single-celebrity {
  margin-bottom: 30px;
  position: relative;
}

.order {
  position: absolute;
  font-weight: 800;
  font-size: 3rem;
  opacity: .4;
  left: -40px;
  z-index: 0;
}